body {
  background-image: url("imagenes/fondo6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  background-color: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}
h2 {
  background-color: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.imagen1 {
  text-align: center;
}
.item1 {
  background-color: rgba(22, 21, 21, 0.5);
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.imagen2 {
  text-align: center;
}
.item2 {
  background-color: rgba(22, 21, 21, 0.5);
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.imagen3 {
  text-align: center;
}
.item3 {
  background-color: rgba(22, 21, 21, 0.5);
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.imagen4 {
  text-align: center;
}
.imagen5 {
  text-align: left;
}
.item4 {
  background-color: rgba(22, 21, 21, 0.5);
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
footer {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  text-align: ce;
  padding: 10px;
  position: bottom;
  font-size: 22px;
}
